.image {
  display: block;
  width: 20%;
  height: auto;
  margin-left: 12%;
}

.image2{
    width: 25%;
    display: inline-block;
    margin-left: 50px;
}

.image3{
    width: 10%;
    
    margin-left: 50px;
}