

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.bg{
  background-color: #fbfbfb;
  
}



.bg-1 {

  background-image: url("/pic/bg.jpg");
  background-attachment: fixed;
  
}

.bg-2 {
  
  
  width: 30%;
  height: auto;
  border-block: solid
  
}

.bg-3 {
  
  background-color: rgb(138, 128, 128);
  width: 30%;
  
  border-block: solid
  
}

.container {
  
  
  display: grid;
  grid-template-columns: 8ch auto;
  grid-template-rows: auto;
  gap: 1em 0em;
  grid-template-areas:
  "box1 box1 box5"
  "box2 box2 box5"
  "box3 box3 box5"
  "box4 box4 box5";

  background-color: #c02f2f;
  height: 50%;
  padding: 30px 0;

  

  
  
  
  /**margin-left: 5%;*/
}

.container2 {
  
  
  display: grid;
  grid-template-columns: 8ch auto;
  grid-template-rows: auto;
  gap: 1em 0em;
  grid-template-areas:
  "box1 box1 box7"
  "box2 box2 box7"
  "box3 box3 box7"
  "box4 box4 box8"
  "box5 box5 box8"
  "box6 box6 box8";

  background-color: #c02f2f;
  height: 50%;
  padding: 30px 0;

  

  
  
  
  /**margin-left: 5%;*/
}


.container3 {
  


  background-color: #c02f2f;
  height: 50%;
  padding: 30px 0;

}
.container4 {
  display: flex;


  background-color: #c02f2f;
  
  padding: 30px 0;

}

.container5 {
  display: inline-block;


  background-color: #c02f2f;
  
  padding: 30px 0;

}

.container6 {
  display: block;


  background-color: #c02f2f;
  
  padding: 30px 0;

}




.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.container:hover .overlay {
  opacity: 1;
  
}

