.back{
  color: aliceblue;
}

.bg{
  background-color: #192224;
  
}

.bg-head{
  background-color: #42959e;
  width: 30%;
}

.text-2 {
  
  font-size: 64px;
  display: block;
  color: aliceblue;
  background: #c02f2f;
  width: 20%;
  margin-left: 10%;
}

.text-8 {
  background-color: #192224;
  font-size: 64px;
  margin-left: 20px;
  
  color: aliceblue;
}

.text-9 {
  background-color: #192224;
  font-size: 40px;
  margin-left: 50px;
  color: aliceblue;
}


.image {
  display: block;
  width: 30%;
  height: auto;}

.container {
  position: absolute;
  width: 40%;
  display: inline-block;
  border: 1rem solid #42959e;
  padding: 1em;
  margin-left: 20px;
}

.container2 {
  position: absolute;
  right: 0;
  width: 40%;
  display: inline-block;
  direction: rtl;

  margin-right: 20px;
  border: 1rem solid #42959e;
  padding: 1em;
  
  
}