.text-8 {
  background-color: #ffffff;
  font-size: 64px;
  margin-left: 20px;
  
  color: rgb(0, 0, 0);
}

.text-9 {
  background-color: #f4f4f4;
  font-size: 40px;
  margin-left: 50px;
  color: rgb(2, 2, 2);
}